body {
    background-color: #f3f5f9;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrap {
    display: flex;
    position: relative;
    height: 100%;
}

.side {
    flex: 1;
    background-color: #482356;
    width: 200px;
    position: fixed;
    height: 100%;
}

.side header {
    color: #f3f5f9;
    text-align: center;
    text-transform: uppercase;
    background: violet;
    line-height: 100px;
    font-size: 30px;
    font-family: 'Segoe UI';
}

.side ul a {
    color: #000;
    height: 100%;
    width: 70%;
    display: block;
    line-height: 60px;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .6);
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    transition: .5s;
}

ul li:hover a {
    padding-left: 60px;
}

.side ul {
    list-style-type: none;
}

.bio {
    width: 100%;
    margin-left: 280px;
}

.bio h4 {
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
}