.header-global {
    width: 100%;
    height: 2cm;
    display: flex;
    gap: 10cm;
}

.header-pc {
    height: 2cm;
    margin-left: 4cm;
    flex: 1;
}

.grobal-pc-menu {
    flex: 2;
    display: flex;
}

.Login-Reg {
    text-decoration: none;
    color: red;
}

.log {
    margin-top: 15px;
}

.image-header {
    width: 3cm;
    height: 2cm;
}

.header-pc h1 {
    color: red;
    font-size: 15px;
    margin-left: 2.5cm;
    margin-top: -1.6cm;
}

#indo {
    width: 40px;
    height: 47px;
    margin-left: 3px;
    margin-top: -8px;
}

#jpag {
    width: 40px;
    height: 47px;
    margin-left: 3px;
    margin-top: -8px;
}

.bendera-negara {
    margin-top: 10px;
    width: 50px;
    height: 30px;
    margin-left: 10px;
}

.nav {
    width: 100%;
    margin-top: 0.5cm;
    background-color: red;
}

.nav-link {
    color: aliceblue;
}

.nav-item {
    border-left: 1px solid white;
}

.nav-pills .nav-link.active {
    background-color: red;
    text-decoration: underline;
    color: aliceblue;
}

.carousel-indicators {
    margin-bottom: -20px !important;
}

.carousel-indicators button {
    background-color: black!important;
}

.carousel-item {
    display: flexbox !important;
}

.carousel-item img {
    width: 13.43cm;
    height: 5cm;
}

.carousel-inner {
    width: 100% !important;
}